In [3]:
import os
import pandas as pd

In [5]:
senate_vote_tallies_path = os.path.join("csv_files", "senate_vote_tallies.csv")
senators_modified_path = os.path.join("csv_files", "senators_modified.csv")

senate_vote_tallies_df = pd.read_csv(senate_vote_tallies_path, encoding = 'utf8')
senators_modified_df = pd.read_csv(senators_modified_path, encoding = 'utf8')

In [6]:
senate_vote_tallies_df.head()

   Unnamed: 0 Bill Number First Name   Last Name Party State Vote Cast
0           0   H.R. 9747      Tammy     Baldwin     D    WI       Yea
1           1   H.R. 9747       John    Barrasso     R    WY       Yea
2           2   H.R. 9747    Michael      Bennet     D    CO       Yea
3           3   H.R. 9747     Marsha   Blackburn     R    TN       Nay
4           4   H.R. 9747    Richard  Blumenthal     D    CT       Yea

In [7]:
senators_modified_df.head()

   Unnamed: 0                  name state     party Last Name
0           0         Sherrod Brown    OH  Democrat     Brown
1           1        Maria Cantwell    WA  Democrat  Cantwell
2           2    Benjamin L. Cardin    MD  Democrat    Cardin
3           3      Thomas R. Carper    DE  Democrat    Carper
4           4  Robert P. Casey, Jr.    PA  Democrat       Jr.

In [8]:
senate_vote_tallies_df["Name"] = senate_vote_tallies_df["First Name"] + " " + senate_vote_tallies_df["Last Name"]
senate_vote_tallies_df

,Unnamed: 0,Bill Number,First Name,Last Name,Party,State,Vote Cast,Name
0,0,H.R. 9747,Tammy,Baldwin,D,WI,Yea,Tammy Baldwin
1,1,H.R. 9747,John,Barrasso,R,WY,Yea,John Barrasso
2,2,H.R. 9747,Michael,Bennet,D,CO,Yea,Michael Bennet
3,3,H.R. 9747,Marsha,Blackburn,R,TN,Nay,Marsha Blackburn
4,4,H.R. 9747,Richard,Blumenthal,D,CT,Yea,Richard Blumenthal
...,...,...,...,...,...,...,...,...
995,995,H.R. 815,Peter,Welch,D,VT,Yea,Peter Welch
996,996,H.R. 815,Sheldon,Whitehouse,D,RI,Yea,Sheldon Whitehouse
997,997,H.R. 815,Roger,Wicker,R,MS,Yea,Roger Wicker
998,998,H.R. 815,Ron,Wyden,D,OR,Yea,Ron Wyden
999,999,H.R. 815,Todd,Young,R,IN,Yea,Todd Young

In [10]:
output_csv_path = os.path.join("csv_files", "senate_vote_tallies_modified.csv")
senate_vote_tallies_df.to_csv(output_csv_path, encoding='utf8', index=False)